php, body {
    height: 100%;
    background: url('https://i.pinimg.com/originals/24/93/88/249388e945f8d3056c1cfd385e7ea89a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.form-container {
    max-width: 350px;
    padding: 1rem;
    margin: 0 auto;
}
.formulario,
.maria {
    margin-bottom: 1rem; /* Espaçamento entre campos */
}
.luiza {
    padding: 20px;
    background-color: rgba(255, 127, 212, 0.726);
}
.rosa {
    background-color: rgba(190, 18, 87, 0.863);
    padding: 30px;
}