php, body {
    height: 100%;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzboIvhnxyw9XTruBCQ-IM9JKZPN348JzIlfJ0hDVw1Q&s');
    background-size: cover;
    background-repeat: no-repeat;
}
.form-container {
    max-width: 350px;
    padding: 1rem;
    margin: 0 auto;
}
.formulario,
.maria {
    margin-bottom: 1rem; /* Espaçamento entre campos */
}
.luiza {
    padding: 20px;
    background-color: rgba(127, 236, 255, 0.486);
}
.rosa {
    background-color: rgb(0, 96, 99);
    padding: 30px;
}